extends extend/layout.pug
block content
  .title=config.meta.description

  .fakemenu

  .section.section_intro#intro
    .asset.right.scope1
    .copy.left.scope1
      .first=config.copy.intro.first
      | !{config.copy.intro.copy}

  .clear
  .section.section_history#history
    .asset.left.brewster
    .copy.right.history1
      .subheader
        .border
          include ../vector/border.svg
        .copy=config.copy.history.title
        .border
          include ../vector/border.svg
      | !{config.copy.history.copy1}

    .clear
    .copy.full
      .first=config.copy.history.first
      | !{config.copy.history.copy2}

  .clear
  .section.section_collection#collection
    .copy.left.collection
      .subheader
        .border
          include ../vector/border.svg
        .copy=config.copy.collection.title
        .border
          include ../vector/border.svg

      .first=config.copy.collection.first
      | !{config.copy.collection.copy}
    .asset.right.globe

  .clear
  .section.section_howto#howto
    .copy.right.howto
      .subheader
        .border
          include ../vector/border.svg
        .copy=config.copy.howto.title
        .border
          include ../vector/border.svg

      ul
        each instruction in config.copy.howto.instructions
          li !{instruction}
      .extra !{config.copy.howto.extra}
    .asset.left.howto
    .clear
  .clear
  .section.section_credits#credits
    .copy.credits
      .subheader
        .border
          include ../vector/border.svg
        .copy !{config.copy.credits.title}
        .border
          include ../vector/border.svg

  .clear
  .section.section_authors
    .authors.right.credits
      .title=config.copy.credits.authors.title
      .authorlist
        .author.author_joeb
          .asset
          .name !{config.copy.credits.authors.joeb}
        .author.author_kevinc
          .asset
          .name !{config.copy.credits.authors.kevinc}
        .author.author_kevino
          .asset
          .name !{config.copy.credits.authors.kevino}
        .clear
    .clear

  .clear
  .section.section_credits#credits
    .copy.credits
      .first=config.copy.credits.first
      | !{config.copy.credits.copy}


  script.
    Index.i();
