extends extend/layout.pug
block content
  .title=config.meta.description

  .menu
    .inner
      .burger
        .line
        .line
        .line
      .left SF, CA
      a.item(href='#intro') Intro
      .divider
      a.item(href='#history') History
      .divider
      a.item(href='#howtouse') How to Use
      .divider
      a.item(href='#thecollection') The Collection
      .divider
      a.item(href='#credits') Credits
      .right 2016
      .clear
    .clear

  .section.section_intro
    .asset.right.scope1
    .copy.left.scope1
      .first=config.copy.intro.first
      | !{config.copy.intro.copy}

  .clear
  .section.section_history
    .asset.left.brewster
    .copy.right.history1
      .subheader
        .border
          include ../vector/border.svg
        .copy=config.copy.history.title
        .border
          include ../vector/border.svg
      | !{config.copy.history.copy1}

    .clear
    .copy.full
      .first=config.copy.history.first
      | !{config.copy.history.copy2}

  .clear
  .section.section_collection
    .copy.left.collection
      .subheader
        .border
          include ../vector/border.svg
        .copy=config.copy.collection.title
        .border
          include ../vector/border.svg

      .first=config.copy.collection.first
      | !{config.copy.collection.copy}
    .asset.right.globe

  .clear
  .section.section_howto
    .copy.right.howto
      .subheader
        .border
          include ../vector/border.svg
        .copy=config.copy.howto.title
        .border
          include ../vector/border.svg

      ul
        each instruction in config.copy.howto.instructions
          li !{instruction}
      .extra=config.copy.howto.extra
    .asset.left.howto
    .clear
  .clear
