extends ../extend/layout

block content
  .guide
    .sections

      .gsection.gcolors
        .title Colors
        each color, name in config.color
          .color(class='color_'+name) #{name} (#{color})

      .gsection.fonts
        .title Fonts
        each atts, name in config.font
          .font(class="font_"+name) #{name} #{atts['font-family']}
          .detail size: #{atts['font-size']}
          .detail spacing: #{atts['font-size']}

      .clear
